.nav {
    padding:2rem;
}

@media screen and (max-width: 1600px) {
    .nav {
        display: none;
    }
}

.mainText {
    padding:2rem;
}

.nav-link {
    color: #565656;
}

.nav-link:hover {
    color: #565656;
    font-weight: 600;
}

.alert-secondary {
    width:50%;
}

.alert-info {
    width:80%;
}

#tableOverview {
    width:80%;
}

#quote {
  padding: 5em;
}

.blockquote {
  color: #d63384;
}

code {
  background-color: #FFF8F0;
}

